.cardIcons {
  width: 5%;
  margin: 3%;
}

.communityImagePostCard {
  width: 60%;
  grid-row: 1 / 3;
  justify-self: center;
  padding: 5%;
}

.communityGridContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 40% 40%;
}

.postImage {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.postCardContainer {
  width: 100%;
  text-align-last: center;
}

.postCardTitle {
  margin-left: 2.5%;
  font-weight: bold;
  font-size: medium;
}

.postCardBottomRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.parentPostCardContainer {
  margin: 3%;
}

.parentPostCardContainer.card {
  border-radius: 0.5rem;
  box-shadow: 2px 2px #888888;
  padding: 2%;
}

.postDetailContainer {
  margin-bottom: 76px;
  background: #d9d9d9;
  padding: 2%;
}

#editPostDetail {
  margin-left: 54%;
}

.postFormContainer {
  margin-top: 3%;
  text-align: center;
  padding: 2%;
  margin-bottom: 59px;
}

.postListContainer {
  margin-bottom: 61px;
  background: #d9d9d9;
  padding: 1% 0;
}

.commentInput {
  width: 90%;
  margin: 5% 5% 0 5%;
  padding: 2%;
}

.commentTitle {
  margin-left: 2%;
}

.postTitleTextArea {
  width: 95%;
  padding: 2%;
}
