.profileImageContainer {
  width: 100%;
  text-align: center;
}

.profileImage {
  width: 50%;
  border-radius: 0.5rem;
}

.labelFile {
  display: inline-block;
  padding: 1% 2%;
  cursor: pointer;
  background: #0061e3;
  color: white;
  border-radius: 7px;
  box-shadow: 2px 2px #888888;
  margin: 5%;
}

input[type="file"] {
  display: none;
}

.profileUploadContainer {
  text-align: center;
}

.postForm {
  display: block;
}

.accountButtons {
  display: inline-block;
  padding: 1% 2%;
  cursor: pointer;
  background: #0061e3;
  color: white;
  border-radius: 7px;
  box-shadow: 2px 2px #888888;
}

.logout {
  text-align: center;
}

.profileInfoContainer {
  padding: 5%;
}

.profileContainer {
  padding-bottom: 20%;
  padding-top: 2%;
}

.accountEditFormContainer {
  padding: 3%;
  text-align: center;
}

.inputEditAccount {
  width: 100%;
  padding: 2%;
}

.labelEditAccount {
  font-weight: bold;
}

.profileEditTitle {
  text-align: center;
}

.needAccount {
  margin-top: 5%;
  margin-bottom: 0%;
}

.slogan {
  font-size: 21px;
  margin-bottom: 1%;
}
