.homeContainer {
  margin-bottom: 62px;
  background: #d9d9d9;
  padding: 0.5% 0;
}

.searchIcon {
  width: 6%;
}

.searchbar {
  width: 79%;
  border-radius: 6px;
  box-shadow: 1px 1px #888888;
}

.sb-example-1 .search {
  width: 95%;
  position: relative;
  display: flex;
}

.sb-example-1 .searchTerm {
  width: 100%;
  border: 2px solid #737373;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #737373;
  height: 0%;
  margin-bottom: 2%;
}

.sb-example-1 .searchTerm:focus {
  color: #737373;
}

.sb-example-1 .searchButton {
  width: 9%;
  border: 2px solid #737373;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border-left: none;
  padding: 1%;
  height: 1%;
}

.sb-example-1 .searchButton i {
  color: #0052cc;
}

.sb-example-1 {
  text-align: -webkit-center;
  margin-bottom: -7px;
}

.inAppLogo {
  width: 12%;
}

.followIcon {
  width: 13%;
}
