.navbar {
    display: flex;
    list-style-type: none;
    border: #dfdddd 5px solid;
    flex-wrap: nowrap;
    background: white;
    height: 10%;
    margin-bottom: 0px;
  }

  .navLink {
    width: 98%;
    padding: 3px;
  }