.logo {
  width: 50%;
  margin: 10% 0;
}

.mainPageContainer {
  width: 100%;
  text-align: center;
}

.pageContainer {
  width: 100%;
}

.appName {
  font-size: 2.5em;
  color: red;
  font-weight: bold;
}

.appNameContainer {
  text-align: center;
}

.loginContainer {
  text-align: center;
  padding: 5%;
  margin-top: 5%;
}

.registerContainer {
  text-align: center;
  padding: 5%;
  margin-top: 5%;
}

.registerInputs {
  width: 70%;
  padding: 1% 1% 1% 2%;
  margin: 3%;
  border-radius: 5px;
}
